@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tamno plava tema */
body {
  @apply bg-slate-900 text-gray-100;
  font-family: "Inter", system-ui, sans-serif;
}

/* Headings font */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", system-ui, sans-serif;
  font-weight: 600;
  letter-spacing: -0.02em;
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}
